.sidebar {
    display: flex;
    justify-content: center;

    padding: 8px;
    border-right: 4px solid var(--white);
    width: clamp(20ch, 100%, 40ch);

    background-color: var(--black);
    transform-origin: left;
}

@media (width < 700px) {
    .sidebar {
        border: none;
    }
}

.sidebar.expand {
    animation: expand 200ms ease forwards;
}

.sidebar.collapse {
    animation: collapse 200ms ease forwards;
}

@media (width < 700px) {
    .sidebar {
        width: 100%;
    }
}

@keyframes expand {
    from {
        transform: scaleX(0);
        opacity: 0;
    }
    to {
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes collapse {
    from {
        transform: scaleX(1);
        opacity: 1;
    }
    to {
        transform: scaleX(0);
        opacity: 0;
        display: none;
    }
}
